/vendor/
/composer.lock
/composer.phar

# Файлы логов
*.log

# Файлы, которые могут содержать конфиденциальную информацию
/config.php

# Игнорировать все .txt файлы (если они не должны быть в репозитории)
*.txt

# Исключить каталоги IDE и редакторов
.idea/
*.sublime-project
*.sublime-workspace
.vscode/

# Исключить операционно-специфичные файлы
.DS_Store
Thumbs.db

# Исключить другие файлы и папки, которые не должны попадать в репозиторий
/node_modules/
/temp/
